@import "tailwindcss";


@theme {
    --font-primary: "DM Mono", "monospace" ; 
    --font-secondary: "Chakra Petch", "sans-serif";

    --animate-blink: blink 1s ease-in-out infinite;    
  }

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}